In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
movie_file = "movies_metadata.csv"
movie_data_df = pd.read_csv(movie_file)
movie_data_df.head()


movie_data_df2= movie_data_df.drop(['adult', 'belongs_to_collection', 'genres', 'homepage','imdb_id','original_language','overview','popularity',
                                   'poster_path','release_date','runtime','spoken_languages','status','tagline','original_title',
                                   'video','vote_count','production_companies','production_countries'],axis=1)

movie_data_df2['id'] = pd.to_numeric(movie_data_df2['id'], downcast='integer', errors='coerce')
movie_data_df2.set_index('id')

movie_data_df2.head()

     budget       id      revenue                        title  vote_average
0  30000000    862.0  373554033.0                    Toy Story           7.7
1  65000000   8844.0  262797249.0                      Jumanji           6.9
2         0  15602.0          0.0             Grumpier Old Men           6.5
3  16000000  31357.0   81452156.0            Waiting to Exhale           6.1
4         0  11862.0   76578911.0  Father of the Bride Part II           5.7

In [3]:
rating_file = "ratings_small.csv"
rating_data_df = pd.read_csv(rating_file)
rating_data_df.head()


rating_data_df2= rating_data_df.drop(['userId','timestamp'],axis=1)
rating_data_df2

        movieId  rating
0            31     2.5
1          1029     3.0
2          1061     3.0
3          1129     2.0
4          1172     4.0
...         ...     ...
99999      6268     2.5
100000     6269     4.0
100001     6365     4.0
100002     6385     2.5
100003     6565     3.5

[100004 rows x 2 columns]

In [4]:
#
link_file = "links_small.csv"
link_data_df = pd.read_csv(link_file)
link_data_df.head()

link_data_df2= link_data_df.drop(['imdbId'],axis=1)

link_data_df2

      movieId    tmdbId
0           1     862.0
1           2    8844.0
2           3   15602.0
3           4   31357.0
4           5   11862.0
...       ...       ...
9120   162672  402672.0
9121   163056  315011.0
9122   163949  391698.0
9123   164977  137608.0
9124   164979  410803.0

[9125 rows x 2 columns]

In [5]:
link_rating_df = pd.merge(rating_data_df2, link_data_df2, on='movieId', how='outer')
link_rating_df

        movieId  rating    tmdbId
0            31     2.5    9909.0
1            31     3.0    9909.0
2            31     4.0    9909.0
3            31     4.0    9909.0
4            31     3.0    9909.0
...         ...     ...       ...
100058   161336     NaN  373348.0
100059   161582     NaN  338766.0
100060   163056     NaN  315011.0
100061   164977     NaN  137608.0
100062   164979     NaN  410803.0

[100063 rows x 3 columns]

In [6]:
link_rating_df.columns = ['movieId', 'rating', 'id']
link_rating_df

        movieId  rating        id
0            31     2.5    9909.0
1            31     3.0    9909.0
2            31     4.0    9909.0
3            31     4.0    9909.0
4            31     3.0    9909.0
...         ...     ...       ...
100058   161336     NaN  373348.0
100059   161582     NaN  338766.0
100060   163056     NaN  315011.0
100061   164977     NaN  137608.0
100062   164979     NaN  410803.0

[100063 rows x 3 columns]

In [7]:
link_rating_df['id'] = pd.to_numeric(link_rating_df['id'], downcast='integer', errors='coerce')

In [8]:
link_rating_df.reset_index(drop=True, inplace=True)

In [9]:
link_rating_df2 = pd.merge(link_rating_df, movie_data_df2, on='id', how='outer')
link_rating_df2

,movieId,rating,id,budget,revenue,title,vote_average
0,31.0,2.5,9909.0,0,180000000.0,Dangerous Minds,6.4
1,31.0,3.0,9909.0,0,180000000.0,Dangerous Minds,6.4
2,31.0,4.0,9909.0,0,180000000.0,Dangerous Minds,6.4
3,31.0,4.0,9909.0,0,180000000.0,Dangerous Minds,6.4
4,31.0,3.0,9909.0,0,180000000.0,Dangerous Minds,6.4
...,...,...,...,...,...,...,...
136604,NaN,NaN,439050.0,0,0.0,Subdue,4.0
136605,NaN,NaN,111109.0,0,0.0,Century of Birthing,9.0
136606,NaN,NaN,67758.0,0,0.0,Betrayal,3.8
136607,NaN,NaN,227506.0,0,0.0,Satan Triumphant,0.0
136608,NaN,NaN,461257.0,0,0.0,Queerama,0.0

In [10]:
#drop all rows with missing information
link_rating_df2 = link_rating_df2.dropna(how='any')
link_rating_df2

,movieId,rating,id,budget,revenue,title,vote_average
0,31.0,2.5,9909.0,0,180000000.0,Dangerous Minds,6.4
1,31.0,3.0,9909.0,0,180000000.0,Dangerous Minds,6.4
2,31.0,4.0,9909.0,0,180000000.0,Dangerous Minds,6.4
3,31.0,4.0,9909.0,0,180000000.0,Dangerous Minds,6.4
4,31.0,3.0,9909.0,0,180000000.0,Dangerous Minds,6.4
...,...,...,...,...,...,...,...
100181,64997.0,2.5,34812.0,1000000,0.0,H.G. Wells' War of the Worlds,4.4
100182,72380.0,3.5,22825.0,30000000,33333531.0,The Box,5.4
100183,129.0,3.0,110972.0,0,0.0,Pie in the Sky,7.0
100184,4736.0,1.0,26602.0,34000000,19693891.0,Summer Catch,4.8
100185,6425.0,1.0,36807.0,0,0.0,The Sixth Man,5.0

In [11]:
link_rating_df2.count()

movieId         99850
rating          99850
id              99850
budget          99850
revenue         99850
title           99850
vote_average    99850
dtype: int64

In [12]:
link_rating_df2.dtypes

movieId         float64
rating          float64
id              float64
budget           object
revenue         float64
title            object
vote_average    float64
dtype: object

In [37]:
uniqueMovies = link_rating_df2
uniqueMovies.drop_duplicates(subset ="title", 
                     keep = False, inplace = True) 
print(uniqueMovies)
uniqueMovies.head(20)

movieId  rating        id    budget     revenue  \
13105   84236.0     4.0   34767.0         0         0.0
21474    2086.0     5.0   13380.0         0         0.0
37314   43556.0     3.5   13275.0  26000000  17496992.0
39814   91548.0     4.0   66150.0     45202    225861.0
40402    3474.0     4.0   26689.0         0         0.0
...         ...     ...       ...       ...         ...
100181  64997.0     2.5   34812.0   1000000         0.0
100182  72380.0     3.5   22825.0  30000000  33333531.0
100183    129.0     3.0  110972.0         0         0.0
100184   4736.0     1.0   26602.0  34000000  19693891.0
100185   6425.0     1.0   36807.0         0         0.0

                                                    title  vote_average
13105   The White Stripes: Under Great White Northern ...           6.9
21474                                 One Magic Christmas           5.7
37314                                           Annapolis           6.0
39814                                       Life in a Day           7.3
40402                                         Retroactive           6.0
...                                                   ...           ...
100181                      H.G. Wells' War of the Worlds           4.4
100182                                            The Box           5.4
100183                                     Pie in the Sky           7.0
100184                                       Summer Catch           4.8
100185                                      The Sixth Man           5.0

[2882 rows x 7 columns]

,movieId,rating,id,budget,revenue,title,vote_average
13105,84236.0,4.0,34767.0,0,0.0,The White Stripes: Under Great White Northern ...,6.9
21474,2086.0,5.0,13380.0,0,0.0,One Magic Christmas,5.7
37314,43556.0,3.5,13275.0,26000000,17496992.0,Annapolis,6.0
39814,91548.0,4.0,66150.0,45202,225861.0,Life in a Day,7.3
40402,3474.0,4.0,26689.0,0,0.0,Retroactive,6.0
40412,3780.0,2.0,37744.0,0,0.0,Rocketship X-M,5.1
40688,3829.0,2.0,43079.0,0,0.0,Mad About Mambo,4.6
40830,3879.0,5.0,11398.0,40000000,30199105.0,The Art of War,5.6
40831,3885.0,3.0,25128.0,0,0.0,Love & Sex,5.7
54188,3318.0,3.0,25212.0,0,0.0,Deterrence,6.1
55806,3800.0,2.0,33828.0,0,0.0,Criminal Lovers,6.6
56703,4079.0,4.0,5709.0,0,0.0,Amazon Women on the Moon,6.0
56704,4082.0,1.0,10937.0,3000000,3221568.0,Barfly,7.3
57159,4302.0,5.0,10613.0,0,0.0,The King Is Alive,5.8
57486,4451.0,2.5,25985.0,0,0.0,Jump Tomorrow,6.9
57841,4731.0,5.0,125707.0,0,0.0,Innocence,5.0
58248,5000.0,3.5,42612.0,0,0.0,Medium Cool,7.0
58441,5071.0,5.0,35650.0,0,0.0,Maelström,6.3
58450,5075.0,4.0,13915.0,555000,0.0,Waydowntown,6.0
58753,5363.0,1.0,10985.0,13000000,0.0,The New Guy,5.7

In [38]:
top20Ratings = uniqueMovies.nlargest(20, ['rating']) 
print(top20Ratings)

movieId  rating        id    budget     revenue  \
21474    2086.0     5.0   13380.0         0         0.0
40830    3879.0     5.0   11398.0  40000000  30199105.0
57159    4302.0     5.0   10613.0         0         0.0
57841    4731.0     5.0  125707.0         0         0.0
58441    5071.0     5.0   35650.0         0         0.0
69567    5062.0     5.0   20620.0         0         0.0
73189   51471.0     5.0   15163.0         0         0.0
75926    8955.0     5.0   16131.0         0    143597.0
79978    4088.0     5.0   67307.0         0   1700000.0
80240    4522.0     5.0   41963.0         0         0.0
80263    4617.0     5.0   19118.0         0         0.0
80593    5960.0     5.0   24249.0         0         0.0
81658    4114.0     5.0   48149.0         0    183700.0
81675    6107.0     5.0   42130.0         0         0.0
81697   59447.0     5.0   41648.0         0         0.0
81698   69761.0     5.0   47104.0         0         0.0
81699   71180.0     5.0   42225.0         0         0.0
81714   97826.0     5.0  128158.0         0    148671.0
81715   98587.0     5.0   96821.0         0         0.0
81718  102753.0     5.0  152780.0  11000000  10631747.0

                                 title  vote_average
21474              One Magic Christmas           5.7
40830                   The Art of War           5.6
57159                The King Is Alive           5.8
57841                        Innocence           5.0
58441                        Maelström           6.3
69567                          Seconds           7.1
73189                    Amazing Grace           7.0
75926                         Undertow           5.9
79978                     The Big Town           5.9
80240                       Masquerade           5.2
80263                      Let It Ride           7.1
80593                    Bad Influence           5.8
81658            Good Morning, Babylon           5.8
81675  The Night of the Shooting Stars           6.3
81697                          Fiorile           7.0
81698          Through the Olive Trees           7.4
81699                    Padre Padrone           6.7
81714               The Patience Stone           6.2
81715                  Caesar Must Die           6.6
81718                         The Past           7.1