In [15]:
import pandas as pd
from sqlalchemy import create_engine

In [43]:
movie_file = "movies_metadata.csv"
movie_data_df = pd.read_csv(movie_file)
movie_data_df.head()


movie_data_df2= movie_data_df.drop(['adult', 'belongs_to_collection', 'genres', 'homepage','imdb_id','original_language','overview','popularity',
                                   'poster_path','release_date','runtime','spoken_languages','status','tagline','original_title',
                                   'video','vote_count','production_companies','production_countries'],axis=1)
movie_data_df2['id'] = pd.to_numeric(movie_data_df2['id'], downcast='integer', errors='coerce')
movie_data_df2.set_index('id')

movie_data_df2

,budget,id,revenue,title,vote_average
0,30000000,862.0,373554033.0,Toy Story,7.7
1,65000000,8844.0,262797249.0,Jumanji,6.9
2,0,15602.0,0.0,Grumpier Old Men,6.5
3,16000000,31357.0,81452156.0,Waiting to Exhale,6.1
4,0,11862.0,76578911.0,Father of the Bride Part II,5.7
...,...,...,...,...,...
45461,0,439050.0,0.0,Subdue,4.0
45462,0,111109.0,0.0,Century of Birthing,9.0
45463,0,67758.0,0.0,Betrayal,3.8
45464,0,227506.0,0.0,Satan Triumphant,0.0
45465,0,461257.0,0.0,Queerama,0.0

In [30]:
rating_file = "ratings_small.csv"
rating_data_df = pd.read_csv(rating_file)
rating_data_df.head()


rating_data_df2= rating_data_df.drop(['userId','timestamp'],axis=1)
rating_data_df2

        movieId  rating
0            31     2.5
1          1029     3.0
2          1061     3.0
3          1129     2.0
4          1172     4.0
...         ...     ...
99999      6268     2.5
100000     6269     4.0
100001     6365     4.0
100002     6385     2.5
100003     6565     3.5

[100004 rows x 2 columns]

In [31]:
#
link_file = "links_small.csv"
link_data_df = pd.read_csv(link_file)
link_data_df.head()

link_data_df2= link_data_df.drop(['imdbId'],axis=1)

link_data_df2

      movieId    tmdbId
0           1     862.0
1           2    8844.0
2           3   15602.0
3           4   31357.0
4           5   11862.0
...       ...       ...
9120   162672  402672.0
9121   163056  315011.0
9122   163949  391698.0
9123   164977  137608.0
9124   164979  410803.0

[9125 rows x 2 columns]

In [32]:
link_rating_df = pd.merge(rating_data_df2, link_data_df2, on='movieId', how='outer')
link_rating_df

        movieId  rating    tmdbId
0            31     2.5    9909.0
1            31     3.0    9909.0
2            31     4.0    9909.0
3            31     4.0    9909.0
4            31     3.0    9909.0
...         ...     ...       ...
100058   161336     NaN  373348.0
100059   161582     NaN  338766.0
100060   163056     NaN  315011.0
100061   164977     NaN  137608.0
100062   164979     NaN  410803.0

[100063 rows x 3 columns]

In [33]:
link_rating_df.columns = ['movieId', 'rating', 'id']
link_rating_df

        movieId  rating        id
0            31     2.5    9909.0
1            31     3.0    9909.0
2            31     4.0    9909.0
3            31     4.0    9909.0
4            31     3.0    9909.0
...         ...     ...       ...
100058   161336     NaN  373348.0
100059   161582     NaN  338766.0
100060   163056     NaN  315011.0
100061   164977     NaN  137608.0
100062   164979     NaN  410803.0

[100063 rows x 3 columns]

In [34]:
link_rating_df['id'] = pd.to_numeric(link_rating_df['id'], downcast='float')
movie_data_df2['id'] = pd.to_numeric(link_rating_df['id'], downcast='float')

ValueError: Unable to parse string "1997-08-20" at position 19730

In [22]:
link_rating_df.reset_index(drop=True, inplace=True)

In [23]:
link_rating_df2 = pd.merge(link_rating_df, movie_data_df2, on='id', how='outer')
link_rating_df2

ValueError: You are trying to merge on float32 and object columns. If you wish to proceed you should use pd.concat

In [10]:
#link_data_df3 = link_data_df.join(movie_data_df2, how='outer')
#link_data_df3

,movieId,imdbId,tmdbId,budget,id,revenue,title,vote_average
0,1.0,114709.0,862.0,30000000,862,373554033.0,Toy Story,7.7
1,2.0,113497.0,8844.0,65000000,8844,262797249.0,Jumanji,6.9
2,3.0,113228.0,15602.0,0,15602,0.0,Grumpier Old Men,6.5
3,4.0,114885.0,31357.0,16000000,31357,81452156.0,Waiting to Exhale,6.1
4,5.0,113041.0,11862.0,0,11862,76578911.0,Father of the Bride Part II,5.7
...,...,...,...,...,...,...,...,...
45461,NaN,NaN,NaN,0,439050,0.0,Subdue,4.0
45462,NaN,NaN,NaN,0,111109,0.0,Century of Birthing,9.0
45463,NaN,NaN,NaN,0,67758,0.0,Betrayal,3.8
45464,NaN,NaN,NaN,0,227506,0.0,Satan Triumphant,0.0
45465,NaN,NaN,NaN,0,461257,0.0,Queerama,0.0