In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [18]:
movie_file = "movies_metadata.csv"
movie_data_df = pd.read_csv(movie_file)
movie_data_df.head()


movie_data_df2= movie_data_df.drop(['adult', 'belongs_to_collection', 'genres', 'homepage','imdb_id','original_language','overview','popularity',
                                   'poster_path','release_date','runtime','spoken_languages','status','tagline','original_title',
                                   'video','vote_count','production_companies','production_countries'],axis=1)
movie_data_df2

C:\Users\talln\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,budget,id,revenue,title,vote_average
0,30000000,862,373554033.0,Toy Story,7.7
1,65000000,8844,262797249.0,Jumanji,6.9
2,0,15602,0.0,Grumpier Old Men,6.5
3,16000000,31357,81452156.0,Waiting to Exhale,6.1
4,0,11862,76578911.0,Father of the Bride Part II,5.7
...,...,...,...,...,...
45461,0,439050,0.0,Subdue,4.0
45462,0,111109,0.0,Century of Birthing,9.0
45463,0,67758,0.0,Betrayal,3.8
45464,0,227506,0.0,Satan Triumphant,0.0
45465,0,461257,0.0,Queerama,0.0

In [3]:
rating_file = "ratings_small.csv"
rating_data_df = pd.read_csv(rating_file)
rating_data_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [15]:
link_file = "links_small.csv"
link_data_df = pd.read_csv(link_file)
link_data_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0